name: Build & Test

on:
  pull_request:
    branches:
      - develop
      - "feat*"
  merge_group:
    types: [checks_requested]
    branches: 
      - develop
      - "feat*"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-workflow:
    name: PR Workflow
    # If any dependent jobs fails, this WF skips which won't block merging PRs
    # calling always() is required for this WF to run all the time
    if: github.repository_owner == 'aws' && always()
    runs-on: ubuntu-latest
    needs:
      - unit-functional
      - node-integration
      - node-esbuild-integration
      - golang-integration
      - java-maven-integration
      - java-gradle-integration
      - custom-make-integration
      - python-integration
      - ruby-integration
      - dotnet-integration
      - rust-cargo-lambda-integration
    steps:
      - name: report-failure
        if: |
          needs.unit-functional.result != 'success' ||
          needs.node-integration.result != 'success' ||
          needs.node-esbuild-integration.result != 'success' ||
          needs.golang-integration.result != 'success' ||
          needs.java-maven-integration.result != 'success' ||
          needs.java-gradle-integration.result != 'success' ||
          needs.custom-make-integration.result != 'success' ||
          needs.python-integration.result != 'success' ||
          needs.ruby-integration.result != 'success' ||
          needs.dotnet-integration.result != 'success' ||
          needs.rust-cargo-lambda-integration.result != 'success'
        run: exit 1
      - name: report-success
        run: exit 0

  unit-functional:
    name: ${{ matrix.os }} / ${{ matrix.python }} / unit-functional
    if: github.repository_owner == 'aws'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        python:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: Unit Testing
        run: make pr
      - name: Functional Testing
        run: make func-test

  custom-make-integration:
    name: ${{ matrix.os }} / ${{ matrix.python }} / custom make
    if: github.repository_owner == 'aws'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        python:
          - "3.13"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - run: make init
      - run: pytest -vv tests/integration/workflows/custom_make

  ruby-integration:
    name: ${{ matrix.os }} / ${{ matrix.python }} / ruby
    if: github.repository_owner == 'aws'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        python:
          - "3.13"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
      - run: make init
      - run: ruby -rbundler -e'p Bundler::CLI.printable_commands(true)'
      - run: bundle cli_help
      - run: pytest -vv tests/integration/workflows/ruby_bundler
